body {
  background: #eee;
  margin: 0;
  padding: 0;
}

/* Navigation */

.navigation {
  box-sizing: border-box;
  background-color: #000;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
}

.my-name {
  background-color: #fff;
  color: #000;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 10px 18px 10px 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navigation > ul {
  padding: 0;
  margin: 0;
}

.navigation > li {
  color: #fff;
  display: inline-block;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.navigation > li a {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #88ccf1;
}

/* CONTENT */

.content {
  /* float: left; */
  border-top: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  border: 3px solid none;
  padding: 10px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  /* background-color: #000; */
  border-radius: 10px;
  color: black;
}

/* ===== FORM ===== */

.form {
  margin: auto;
  width: 60%;
}

input[type="radio"],
.radio-buttons {
  width: auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: black;
}

input:focus {
  border: 3px solid #555;
}

::placeholder {
  color: black;
}

/* ====== FOOTER ====== */

.foot-note {
  /* clear: both; */
  text-align: center;
  padding: 20px 0;
  /* border-top: solid black; */
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
